body {
	background: #2060F4;
	color: white;
}

a, a:hover, a:active {
	color: white;
	text-decoration: none;
}

a:hover .article{
	border-left: 5px solid #FFAD08;
}

.flex-container {
	min-height: 100%;
	min-height: 100vh;	
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	text-align: center;
}

.input-group {
	width: 25%;
	margin: 1em auto;
}

.article {
	border-left: 5px solid transparent;
	border-radius: 0px 15px 15px 0px;
	background: rgba(55,55,55,.5);
	margin: 1em auto;
	text-align: left;
	padding: 15px 25px;
}

.searchOutput {
	width: 60%;
	margin: auto;
}