body {
	background: #EDE7E1;
	background-image: url('../../assets/images/ep_naturalwhite.png');
	font-family: 'Lekton', sans-serif;
}

form {
	margin: 1em auto;
}

h1 {
	font-size: 4em;
}

h1, h2 {
	font-family: 'Molengo', sans-serif;
}

h2 {
	margin: none;
}

a:hover .article{
	border-left: 5px solid #FF0000;
}

.searchOutput a:link, .searchOutput a:visited, .searchOutput a:hover, .searchOutput a:active {
	color: white;
	text-decoration: none;
}

.searchOutput {
	color: white;
}

.flex-container {
	min-height: 100%;
	min-height: 100vh;	
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	text-align: center;
}

.input-group {
	width: 25%;
	margin: 1em auto;
}

.article {
	border-left: 5px solid transparent;
	border-radius: 0px 25px 25px 0px;
	background: rgba(55,55,55,.5);
	margin: 1em auto;
	text-align: left;
	padding: 15px 25px;
}

.searchOutput {
	width: 60%;
	margin: auto;
}

#randomArticle:link, #randomArticle:visited, #randomArticle:hover, #randomArticle:active {
	color: red;
	font-family: 'Molengo', sans-serif;
	/*font-size: 1.5em;*/
	text-transform: uppercase;
}

@media (max-width: 766px) {
	.searchOutput {
		width: 95%;
	}
}